:root {
  --font-heading: 'Big Shoulders Display', cursive;
  --font-body: 'Lexend Deca', sans-serif;
  --color-bg: hsl(0, 0%, 95%);
  --color-light: hsla(0, 0%, 100%, 0.75);
  --color-sedan: hsl(31, 77%, 52%);
  --color-suv: hsl(184, 100%, 22%);
  --color-luxury: hsl(179, 100%, 13%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*, button, input {
  font: inherit;
}

.page {
  font-size: 15px;
  font-family: var(--font-body);
  background-color: var(--color-bg);
  padding: 1rem;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.page__inner {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.page__inner > .section:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.page__inner > .section:last-child {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.section {
  padding: 2rem;
}

.section--sedan {
  background-color: var(--color-sedan);
  color: var(--color-light);
}

.section--suv {
  background-color: var(--color-suv);
  color: var(--color-light);
}

.section--luxury {
  background-color: var(--color-luxury);
  color: var(--color-light);
}

.section__icon {
  margin-bottom: 2rem;
}

.section__title {
  color: var(--color-bg);
  font-size: 2rem;
  font-family: var(--font-heading);
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.section__text {
  margin-bottom: 8rem;
}

.button {
  display: inline-block;
  background-color: var(--color-bg);
  padding: 0.75rem 1.5rem;
  border: 1px solid transparent;
  text-decoration: none;
  border-radius: 32px;
  transition: 0.15s;
  cursor: pointer;
}

.button:hover {
  border-color: var(--color-bg);
  background-color: transparent;
  color: var(--color-bg);
}

.button--sedan {
  color: var(--color-sedan);
}

.button--suv {
  color: var(--color-suv);
}

.button--luxury {
    color: var(--color-luxury);
}

@media only screen and (min-width: 772px) {
  .page__inner {
    display: flex;
  }

  .page__inner > .section:first-child {
    border-radius: 8px 0 0 8px;
  }

  .page__inner > .section:last-child {
    border-radius: 0 8px 8px 0;
  }
}
